/* Header */
.header .topmenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    /*border-bottom: 1px solid rgba(142,180,88,.5);*/
    box-shadow: 0 1px 8px var(--black);
}
.header .topmenu img {
    height: 55px;
    margin-left: 25px;
}
.header nav {
    margin-right: 0;   
}
.header .nav-btn-toggle {
    display: block;
    margin-right: 25px;
}
.header .menu {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    width: 70%;
    min-width: 450px;
    padding-right: 25px;
    height: calc(100% - 70px);
    top: 70px;
    right: -100%;
    background-color: var(--secondary);
    overflow-y: auto;
    transition: right 0.4s;
}
.header .menu-visible {
    /* Muestra el menú principal en mobile */
    right: 0;
}

.header .menu .item {
    width: 100%;
    padding: 20px 0;
    margin-left: 0;
    border-top: 1px solid var(--other);
    font-size: var(--lg);
}
.header .menu .item a {
    padding: 10px 20px;
    border-radius: 10px;
}
.header .menu .item.dropdown {
    position: relative;
    cursor: pointer;
}
.header .menu .item.dropdown .dropdown-item .sub-menu {
    position: relative;
    z-index: 1;
    text-align: right;
    padding: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 1;
    font-size: var(--md);
    transition: 0.4s;
    visibility: visible;
    border-radius: 0;
    overflow: hidden;
    overflow-y: auto;
}
.header .menu .item.dropdown .dropdown-item.open .sub-menu {
    height: auto;
    padding: 15px 50px 15px 15px;
}
.header .menu .item.dropdown:hover .sub-menu {
    top: 0;
}
.header .topmenu .menu.menu-visible .user-info {
    justify-content: flex-end;
}


/* Hero
    Solamente para la página del home
*/
.hero {
    min-height: calc(100vh + 70px);
    padding: 110px 0 40px;
}
.hero .hero-text {
    width: 41%;
    min-width: 510px;
    max-width: 560px;
    margin: 0 25px;
}
.hero .hero-text h1 {
    line-height: 42px;
    font-size: 42px;
}
.hero .hero-text p {
    font-size: var(--lg);
}
/* Section */
.row {
    padding: 40px 25px;
}
.section-title {
    width: 100%;
    margin-top: 70px;
    min-height: 110px;
    background-position: right;
    background-size: cover;
    padding-left: 25px;
}


/* Footer */
.footer {
    padding: 20px 25px 0;
    font-size: 17px;
}
.footer h3 {
    font-size: 24px;
}
.footer .footer-top .right ul .menu-icon {
    margin-right: 8px;
}
.footer .footer-bottom .logo {
    width: 175px;
}
.footer .footer-bottom .autores-container {
    padding-left: 12px;
    column-gap: 12px;
}
.footer .footer-bottom .autores-container .img-mision-tic {
    width: 140px;
}
.footer .footer-bottom .autores-container .autores {
}
.footer .footer-bottom .autores-container ul {
    list-style: none;
}
.footer .footer-bottom .autores-container ul li {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.footer .footer-bottom .autores-container ul li .author-icon {
    color:var(--primary);
}
.footer .footer-bottom .autores-container ul li a {
    color:var(--light);
    font-size: 16px;
}
.footer .footer-bottom .autores-container ul li a:hover {
    color:var(--primary);
}
