.register-main {
    height: auto;
    min-height: 100vh;
}
.register-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    margin: 40px 0;
}
.register-left, .register-right {
    width: 100%;
    min-height: 250px;
}
