.sidebar {
    margin: 0;
    padding: 7px;
    width: 200px;
    background-color: #F7BF4F;
    position: relative;
    height: auto;
    overflow: auto;
    float: left;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #3F6346;
    color: white;
    border-radius: 15px;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #5E826C;
    color: white;
    border-radius: 15px;
  }

#mensaje_bienvenida{
    text-align: center;
}