.row-welcome .info,
.row-welcome .info-container .img {
    width: 100%;
}
.row-welcome .info h2 {
    text-align: center;
}
.row-welcome .info p {
    padding-left: 0;
    text-align: center;
}

form {
    padding: 15px;
}

.card {
    width: 100%;
    max-width: 360px;
}
.card .card-info h3 {
    font-size: 24px;
    padding: 0;
}
.card .card-info .calificacion-container {
    padding: 10px 0;
}
.card .card-info .nota {
    font-size: 25px;
    line-height: 30px;
}
.card .card-info .info-reserva-container {
    margin-top: 8px;
}

