.register-main {
    height: auto;
    min-height: 100vh;
}
.register-container {
    max-width: 450px;
}
.register-left form {
    width: 90%;
}
.register-left form .inline-form {
    flex-direction: column;
    margin-bottom: 0
}
.register-left form .inline-form .form-control {
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }
  