:root {
    --primary: #F7BF4F; /* rgb(247,191,79) */
    --secondary: #1A4D2E; /* rgb(26,77,46) */
    --other: #8EB458; /* rgb(142,180,88) */
    --light: #FAF3E3; /* rgb(250,243,227) */
    --dark: #2C3333; /* rgb(44,51,51) */
    --black: #161616; /* rgb(22,22,22) */
    --white: #fff; /* rgb(255,255,255) */
    --sm: 14px;
    --md: 18px;
    --lg: 24px;
    --font1: 'Mada', sans-serif;
    --font2: 'Literata', serif;
    --min-width: 320 px;
}

.section-enjoy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-enjoy .info h2 {
    color: var(--secondary);
    margin-bottom: 8px;
}
.section-enjoy .info p {
    color: var(--dark);
    font-size: var(--md);
    margin-bottom: 24px;
}
.section-enjoy img {
    width: 400px;
}