:root {
    --primary: #F7BF4F; /* rgb(247,191,79) */
    --secondary: #1A4D2E; /* rgb(26,77,46) */
    --other: #8EB458; /* rgb(142,180,88) */
    --light: #FAF3E3; /* rgb(250,243,227) */
    --dark: #2C3333; /* rgb(44,51,51) */
    --black: #161616; /* rgb(22,22,22) */
    --white: #fff; /* rgb(255,255,255) */
    --sm: 14px;
    --md: 18px;
    --lg: 24px;
    --font1: 'Mada', sans-serif;
    --font2: 'Literata', serif;
    --transition-menu: background-color 200ms linear 25ms;
    --transition-btn: transform 0.3s ease-in-out 0s;
}

main {
    display: flex;
}

.sidebar {
    margin: 0;
    padding: 7px;
    width: 250px;
    min-height: 500px;
    height: auto;
}

.content {
    width: 100%
}

.row-welcome {
    padding: 25px 80px;
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 40px;
    width: 100%;
    padding-top: 20px;
}
.row-welcome .info {
    width: 45%;
    font-size: var(--md);
}
.row-welcome .info h2 {
    color: var(--secondary);
    margin-bottom: 20px;
}
.row-welcome .info h3 {
    color: var(--black);
    font-size: 20px;
    margin-bottom: 10px;
}
.row-welcome .info p {
    margin-bottom: 20px;
    padding-left: 30px;
}
.row-welcome .info img {
    width: 90%;
    padding-left: 30px;
}
.row-welcome .info-container .img {
    width: 55%;
    border: solid 3px var(--dark);
    border-radius: 20px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 8px 16px;
    margin-bottom: 8px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #3F6346;
    color: white;
    border-radius: 8px;
}
  
    /* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #5E826C;
    color: white;
    border-radius: 8px;
}

.card {
    width: 480px;
}
.card .card-info h3 {
    font-size: 26px;
}
.card .card-info .num-habitacion {
    font-size: var(--lg);
    font-family: var(--font2);
    font-weight: bold;
}
.card .card-info .calificacion-container {
    width: 75%;
    padding: 5px 0;
    border-radius: 10px;
    margin-top: 8px;
    background-color: var(--primary);
    text-align: center;
}
.card .card-info .calificacion {
    font-size: var(--md);
    font-family: var(--font1);
    color: var(--secondary);
}
.card .card-info .nota {
    font-size: 30px;
    font-family: var(--font2);
    font-weight: bold;
    color: var(--black);
    line-height: 40px;
}
.card .card-info .estrellas {
    margin-top: 8px;
    color: var(--primary);
}
.card .card-info .info-reserva-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.card .card-info .info-reserva-container .info-left {
    width: 57%;
}
.card .card-info .info-reserva-container .info-left .estadia {
    font-size: var(--md);
    font-weight: bold;
    color: var(--secondary);
}
.card .card-info .info-reserva-container .info-left .fechas {
    margin-left: 15px;
}
.card .card-info .info-reserva-container .info-right {
    width: 43%;
}
.card .card-info .info-reserva-container .info-right .item {
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.card .card-info .info-reserva-container .info-right .item .svg-icon {
    color: var(--secondary)
}
.card .card-info .info-reserva-container .info-right .item p {
    margin-left: 8px;
    line-height: 20px;
    color: var(--black);
}

/* Formulario de Cambio de Password */
form {
    width: 100%;
    font-size: var(--md);
    padding: 30px 30px;
    background-color: var(--dark);
    border-radius: 20px;
    color: var(--white);
}
.form-control {
    width: 100%;
}
.form-control label {
    display: block;
}
.form-control input:not(.btn) {
    display: block;
    width: 100%;
    height: 36px;
    font-size: var(--md);
    color: var(--dark);
    border: 1px solid var(--other);
    border-radius: 8px; 
    margin-bottom: 16px;
}
.change-password-title {
    font-size: 20px;
}
.container-mensajes {
    margin-bottom: 16px;
}
.sin-reserva {
    display: flex;
    align-items: center;
    padding-bottom: 155px;
    column-gap: 25px;
}
.info-icon {
    color: var(--primary)
}
