:root {
   --primary: #F7BF4F; /* rgb(247,191,79) */
   --secondary: #1A4D2E; /* rgb(26,77,46) */
   --other: #8EB458; /* rgb(142,180,88) */
   --light: #FAF3E3; /* rgb(250,243,227) */
   --dark: #2C3333; /* rgb(44,51,51) */
   --black: #161616; /* rgb(22,22,22) */
   --white: #fff; /* rgb(255,255,255) */
   --sm: 14px;
   --md: 18px;
   --lg: 24px;
   --font1: 'Mada', sans-serif;
   --font2: 'Literata', serif;
   --transition-menu: background-color 200ms linear 25ms;
   --transition-btn: transform 0.3s ease-in-out 0s;
}

.register-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.register-container {
  display: flex;
  width: 75%;
  min-height: 500px;
  background-color: var(--light);
  font-size: var(--md);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 8px 1px var(--black);
}
.register-left {
  width: 75%;
}
.register-left .linea {
  width: 70%;
  margin: 6px auto;
  border-top: 2px solid var(--primary);
}
.register-left .register-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 25px auto 0 auto;
  padding: 0 10px;
}
.register-left .register-info-container .info-icon {
  color: var(--secondary);
}
.register-left .register-info-container .register-info {
  margin-left: 8px;
  text-align: center;
}
.register-left .register-info-container .register-info h3 {
  font-size: 26px;
  color: var(--black);
}
.register-left .register-info-container .register-info p {
   font-size: var(--sm);
   color: var(--dark)
}
.register-left form {
  width: 95%;
  margin: 20px auto 0 auto;
}
.register-left form .inline-form {
  display: flex;
  align-items:flex-end;
  margin-bottom: 14px;
}
.register-left form .inline-form .form-icon {
  color: var(--dark);
  line-height: 0;
}
.register-left form .inline-form .form-control {
  margin-left: 8px;
}
.register-left form .inline-form .form-control label {
  display: block;
}
.register-left form .inline-form .form-control input:not(.btn) {
  display: block;
  width: 100%;
  height: 36px;
  font-size: var(--md);
  color: var(--dark);
  border: 1px solid var(--primary);
  border-radius: 8px;
}
.register-left form input.btn {
  display: block;
  margin: 0 auto;
}
.register-left .login a {
  color: var(--secondary);
}
.register-left .login a:hover {
  color: var(--black);
}
.register-left .login {
  font-size: var(--sm);
  text-align: center;
  margin: 14px 0;
}
.register-left button {
  display: block;
  margin: 0 auto;
}
.register-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  width: 25%;
  min-height: 500px;
  background: linear-gradient(90deg, rgba(247 191 79 / 83%), rgba(250 243 227 / 85%)), url(https://i.ibb.co/6DQs7kR/hotel-lobby.jpg);
  background-repeat:no-repeat;
  background-position: 75% center;
  background-size: cover;
}
.register-right img {
  width: 80%;
  max-width: 350px;
}