{% extends 'admin/layout-admin.html' %}
{% block principal %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <b>Listado de comentarios</b>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Habitación</th>
                            <th>Comentario</th>
                            <th>Calificación</th>
                            <th>Fecha de creación</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for comentario in data.comentarios %}
                    <tr>
                        <td>{{ comentario["id"]}}</td>
                        <td>{{ comentario["cliente"]}}</td>
                        <td>{{ comentario["numero"]}}</td>
                        <td>{{ comentario["comentario"]}}</td>
                        <td>{{ comentario["calificacion"]}}</td>
                        <td>{{ comentario["fecha"]}}</td>
                        <td class="text-right">
                            <a class="btn-accion" href="{{ url_for('bp_admin.nuevo_comentario_admin' , id_comentario=comentario['id']) }}">
                                <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                            </a>
                            <a class="btn-accion" href="{{ url_for('bp_admin.desactivar_comentario_admin' , id_comentario=comentario['id']) }}"
                                data-toggle="tooltip" data-placement="top" data-original-title="desactivar">
                                <i class="ti-na"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}