{% extends 'admin/layout-admin.html' %}
{% block principal %}
<div class="row">
    <div class="col-xs-12 col-md-12 text-right mb-3">
        <a class="btn btn-primary" href="{{ url_for('.usuarios_admin') }}">
            <i class="ti-angle-left"></i>
            Listado de usuarios
        </a>
    </div>
    
    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <b>Información del usuario</b>
            </div>
            <div class="card-block">
                <form action="" method="post">
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                            <div class="box-message error">
                                {% for error in errors[0] %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.nombres.label() }}
                                {{ data.form.nombres(class_="form-control", placeholder="") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.apellidos.label() }}
                                {{ data.form.apellidos(class_="form-control", placeholder="") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.cedula.label() }}
                                {{ data.form.cedula(class_="form-control", placeholder="") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.celular.label() }}
                                {{ data.form.celular(class_="form-control", placeholder="") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.email.label() }}
                                {{ data.form.email(class_="form-control", placeholder="") }}
                            </div>
                        </div>  
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.tipo_usuario.label() }}
                                {{ data.form.tipo_usuario() }}
                            </div>
                        </div>
                            <!-- <div class="col-xs-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" name="txtUsuario" class="form-control" />
                                </div>
                            </div> -->
                            <div class="col-xs-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    {{ data.form.usuario.label() }}
                                    {{ data.form.usuario(class_="form-control") }}
                                </div>
                            </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.password.label() }}
                                {{ data.form.password(class_="form-control", placeholder="") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                {{ data.form.ciudad.label() }}
                                {{ data.form.ciudad(class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-9">
                                <div class="form-group">
                                    {{ data.form.direccion.label() }}
                                    {{ data.form.direccion(class_="form-control", placeholder="") }}
                                </div>
                        </div>
                        <div class="col-xs-12 col-md-12 text-right">
                            <button class="btn btn-primary" type="submit">
                                <i class="ti-save"></i>
                                Guardar
                            </button>
                        </div>
                        {{ data.form.csrf_token }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
{% endblock %}