{% extends 'admin/layout-admin.html' %}
{% block principal %}
<div class="row">
    <div class="col-xs-12 col-md-12 text-right mb-3">
        <a class="btn btn-primary" href="{{ url_for('bp_admin.nueva_reserva_admin') }}">
            <i class="ti-plus"></i>
            Nueva reserva
        </a>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <b>Listado de reservas</b>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Número de reserva</th>
                            <th>Cliente</th>
                            <th>Habitación</th>
                            <th>Fecha de llegada</th>
                            <th>Fecha de salida</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserva in data.reservas %}
                            <tr>
                                <td>{{ reserva.Row }}</td>
                                <td>{{ reserva.Id }}</td>
                                <td>{{ reserva.NombreCompleto }}</td>
                                <td>{{ reserva.Numero }}</td>
                                <td>{{ reserva.FechaInicial }}</td>
                                <td>{{ reserva.FechaFinal }}</td>
                                <td>{{ reserva.TotalFormat }}<td>
                                <td class="text-right">
                                    <a class="btn-accion" href="{{ url_for('bp_admin.nueva_reserva_admin', id_reserva=reserva.Id) }}">
                                        <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                                    </a>
                                </td>
                            </tr>
                        {%endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}