{% extends "admin/layout-admin.html" %}
{% block principal %}
<div class="row">
    <div class="col-xs-12 col-md-12 text-right mb-3">
        <a class="btn btn-primary" href="{{ url_for('bp_admin.nuevo_usuario_admin') }}">
            <i class="ti-plus"></i>
            Nuevo usuario
        </a>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <b>Listado de usuarios</b>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo de usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>#</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td class="text-right">
                            <a class="btn-accion" href="/admin/agregar-usuario">
                                <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                            </a>
                            <a class="btn-accion" href="#"
                                data-toggle="tooltip" data-placement="top" data-original-title="desactivar">
                                <i class="ti-na"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td class="text-right">
                            <a class="btn-accion" href="agregar_usuario.html">
                                <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                            </a>
                            <a class="btn-accion" href="#"
                                data-toggle="tooltip" data-placement="top" data-original-title="desactivar">
                                <i class="ti-na"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td>####</td>
                        <td class="text-right">
                            <a class="btn-accion" href="agregar_usuario.html">
                                <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                            </a>
                            <a class="btn-accion" href="#"
                                data-toggle="tooltip" data-placement="top" data-original-title="desactivar">
                                <i class="ti-na"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}