{% extends "admin/layout-admin.html" %}
{% block principal %}
<div class="row">
    <div class="col-xs-12 col-md-12 text-right mb-3">
        <a class="btn btn-primary" href="{{ url_for('bp_admin.nuevo_usuario_admin') }}">
            <i class="ti-plus"></i>
            Nuevo usuario
        </a>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <b>Listado de usuarios</b>
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo de usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Email</th>
                            <th>Fecha de registro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for usuario in data.usuarios %}
                        <tr>
                            <td>{{ usuario["Row"] }}</td>
                            <td>{{ usuario["NombreTipoUsuario"] }}</td>
                            <td>{{ usuario["Nombres"] }}</td>
                            <td>{{ usuario["Apellidos"] }}</td>
                            <td>{{ usuario["Cedula"] }}</td>
                            <td>{{ usuario["Email"] }}</td>
                            <td>{{ usuario["FechaRegistro"] }}</td>
                            <td class="text-right">
                                {% if usuario["Activo"] == 1 %}
                                    <a class="btn-accion" href="{{ url_for('.nuevo_usuario_admin', id_usuario=usuario['Id']) }}">
                                        <i class="ti-pencil-alt" data-toggle="tooltip" data-placement="top" data-original-title="editar"></i>
                                    </a>
                                    <a class="btn-accion" href="/admin/estado-usuario/{{ usuario['Id'] }}?estado=0"
                                        data-toggle="tooltip" data-placement="top" data-original-title="desactivar">
                                        <i class="ti-na"></i>
                                    </a>
                                {% else %}
                                    <a class="btn-accion" href="/admin/estado-usuario/{{ usuario['Id'] }}?estado=1"
                                        data-toggle="tooltip" data-placement="top" data-original-title="activar">
                                        <i class="ti-check"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}