<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,700&family=Mada:wght@400;700&display=swap" rel="stylesheet"> 
   <!-- CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
   {% block estilos_propios %}
   {% endblock %}
   <!-- Title -->
   <title>SLS Dubai Hotel | {{data.titulo_head}} | Grupo 04 | Misión TIC 2022</title>
   <link rel="shortcut icon" href="https://i.ibb.co/sb1d352/favicon.png" type="image/png">
</head>
<body>
   <div class="container">

      <!-- Header -->
      <header class="header">
         <div class="topmenu">
            <a href="./">
               <img src="https://i.ibb.co/2P0J6qT/logo-transparent-dark.png" alt="Logo SLS Dubai Hotel">
            </a>
            <nav>
               <ul class="menu">
                  <li class="item"><a href="./">Home</a></li>
                  <li class="item dropdown">
                     <a href="/habitaciones">
                        <span>Habitaciones</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-chevron-down" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" stroke-width="0.6"></path> 
                        </svg>
                     </a>
                     <ul class="sub-menu">
                        <li>
                           <a href="/habitaciones">Habitación Premium</a>
                        </li>
                        <li>
                           <a href="/habitaciones/reservar">Reservar</a>
                        </li>
                     </ul>
                  </li>
                  <li class="item"><a href="/contacto">Contacto</a></li>
                  <li class="item dropdown">
                     <a href="">
                        <span>Mi cuenta</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-chevron-down" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" stroke-width="0.6"></path> 
                        </svg>
                     </a>
                     <ul class="sub-menu">
                     {% if not data.user_login %}
                        <li>
                           <a href="/mi-cuenta/login">Login</a>
                        </li>
                        <li>
                           <a href="/mi-cuenta/register">Registrarse</a>
                        </li>
                     {% else %}
                        <!-- Icono y nombre del usuario -->
                        <li>
                           <div class="user-info">
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="text-black" viewBox="0 0 16 16">
                                 <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                 <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                              <span>{{ data.nombre }}</span>
                           </div>
                        </li>
                        <li>
                            <a href="/mi-cuenta">Mi Cuenta</a>
                        </li>
                        <li>
                            <a href="/mi-cuenta/reservas">Mis Reservas</a>
                        </li>
                        <li>
                            <a href="/mi-cuenta/calificar-habitacion">Calificar Habitación</a>
                        </li>
                        <li>
                            <a href="/mi-cuenta/logout">Cerrar Sesión</a>
                        </li>
                     {% endif %}
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
      </header>
      {% block banner %}
      {% endblock %}
      
      <!-- Main -->
      <main>
         {% block principal %}
         {% endblock %}
      </main>

      <!-- Footer -->
      <footer class="footer">
         <div class="footer-top">
            <div class="left">
               <h3>SLS Dubai Hotel</h3>
               <p>
                  Latifa Bint Hamdan St - Al Quoz - Al Quoz 4 <br>
                  Dubai - Emiratos Árabes Unidos. <br>
                  <span class="text-primary">Teléfono: </span> +971 4 515 4555. <br>
                  <span class="text-primary">Email: </span> info@slsdubaihotel.com <br>
               </p>
               <div class="icons-social-media">
                  <a href="">
                      <img src="https://i.ibb.co/hLwmDqP/Facebook.png" alt="Facebook">
                  </a>
                  <a href="#"><img src="https://i.ibb.co/55qRfqd/Twitter.png" alt="Twitter"></a>
                  <a href="#"><img src="https://i.ibb.co/sqyGs4j/Instagram.png" alt="Instagram"></a>
                  <a href="#"><img src="https://i.ibb.co/Hh42nKq/YouTube.png" alt="Youtube"></a>
                  <a href="#"><img src="https://i.ibb.co/Px8DpCM/WhatsApp.png" alt="Whatsapp"></a>
               </div>
            </div>
            <div class="right">
               <h3>Menú Principal</h3>
               <ul>
                  <li>
                     <i class="menu-icon">></i><a href="/habitaciones">Habitaciones</a>
                  </li>
                  <li>
                     <i class="menu-icon">></i><a href="/contacto">Contacto</a>
                  </li>
                  {% if data.user_login %}
                  <li>
                     <i class="menu-icon">></i><a href="/mi-cuenta">Mi cuenta</a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </div>
         <div class="footer-bottom">
            <img src="https://i.ibb.co/2P0J6qT/logo-transparent-dark.png" alt="SLS Dubai Hotel">
         </div>
      </footer>
   </div>
</body>
</html>