{% extends "layout.html" %}

{% block estilos_propios %}
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/reserva.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/tablet/reserva-tablet.css') }}" media="(max-width:900px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/mobile/reserva-mobile.css') }}" media="(max-width:580px)">
{% endblock %}

{% block banner %}
    <!-- Título en el contenido de la página -->
    <section class="section section-title">
        <h1>Habitación Estándar</h1>
    </section>
{% endblock %}

{% block principal %}
<section class="section section-form">
    <form action="/habitaciones/reservar" method="post" class="form-register">
        <h2>Ingrese sus Datos:</h2>
        <!-- Genero mi secret key para evitar ataques csrf -->
        {{data.form.csrf_token}}

        <!-- Mensajes -->
        {% with mensajes = get_flashed_messages() %}
            {% if mensajes or data.form.errors %}
                <div class="container-mensajes">
                    <div class="mensaje is-danger w-80">
                        <!-- Mensajes flash -->
                        {% for mensaje in mensajes %}
                        {{ mensaje }}
                        {% endfor %}
                        
                        <!-- Mensaje de error del form -->
                        {% for field, errors in data.form.errors.items() %}
                        {{ ', '.join(errors) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <div class="container w-100">
            <div class="date-container inline-block">
                {{ data.form.fecha_inicio.label() }}
                {{ data.form.fecha_inicio(value=data.today) }}
            </div>
            <div class="date-container inline-block">
                {{ data.form.fecha_final.label() }}
                {{ data.form.fecha_final(value=data.tomorrow) }}
            </div>
        </div>

        <div class="form-row">
            {{ data.form.list_habitaciones.label() }}
            {{ data.form.list_habitaciones() }}
        </div>

        <p class="text-primary total" id="total">Precio: </p>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.nombres.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.nombres(value=data.nombres) }}
            {% else %}
                {{ data.form.nombres() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.apellidos.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.apellidos(value=data.apellidos) }}
            {% else %}
                {{ data.form.apellidos() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.cedula.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.cedula(value=data.cedula) }}
            {% else %}
                {{ data.form.cedula() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.email.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.email(value=data.email) }}
            {% else %}
                {{ data.form.email() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.direccion.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.direccion(value=data.direccion) }}
            {% else %}
                {{ data.form.direccion() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.ciudad.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.ciudad(value=data.ciudad) }}
            {% else %}
                {{ data.form.ciudad() }}
            {% endif %}
        </div>

        <div class="form-row-inline">
            <div class="label-container">
                {{ data.form.celular.label() }}
            </div>
            {% if data.user_login %}
                {{ data.form.celular(value=data.celular) }}
            {% else %}
                {{ data.form.celular() }}
            {% endif %}
        </div>
    
        <input class="btn btn-primary text-dark" type="submit" value="Realizar Reserva">
        <p><a href="/mi-cuenta/login">Ingrese a su Cuenta</a></p>
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    </form>
</section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='./js/reserva.js') }}"></script>
{% endblock %}
